@media (max-width:799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    /* when the navbar element itself has the active class (toggle on #navbar) */
    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    /* support both the misspelled id used in HTML (#moilbe) and the intended one (#mobile) */
    #moilbe,
    #mobile {
        display: flex;
        align-items: center;
    }

    #moilbe i,
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    /* ensure the close button is visible and behaves like a block element */
    #close {
        display: none;
        position: absolute;
        top: 30px;
        left: 30px;
        right: auto;
        color: #222;
        font-size: 28px;
        z-index: 1001;
    }

    #navbar.active #close {
        display: initial;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #sm-banner .banner-box2 {
        margin: 20px 0 0 0;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #newsletter .form {
        width: 70%;
    }

    /* single product */

    #prodetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 60%;
        margin-right: -40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }
}

@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin: 20px 0 0 0;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    /* single product */
    #prodetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* blog page */

    #blog{
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /* about page */

    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%; 
        margin-bottom: 20px;
    }

    #about-app div{
        padding-left: 0px;
    }

    #about-app .video{
        width: 100%;
    }
}